body {
    font-family: Arial, sans-serif;
    background-image: url('fa2.jfif');
    background-size: 200px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*valami gubanc van :nerd:*/
.container {
    text-align: center;
    background: rgb(46, 46, 46);
    color: wheat;
    padding: 20px;
    border-radius: 8px;
    border-style: solid;
    border-color: wheat;
    border-width: 5px;
    transition: border-width 0.3s;
}
.container:hover{
    border-width: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#game-area {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
    margin: auto;
}

.cell {
    color: gray;
    margin: auto;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #929292;
    font-size: 24px;
    background-color: #181818;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: 100%;
}

.cell.hidden {
    background-color: #fff;
    cursor: default;
}

button {
    margin: auto;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: wheat;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fcfcfc;
}

#message {
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#user-input {
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid wheat;
}
#ellenor{
    margin: auto;
    width: 155px;
}
#difficulty{
    text-align: center;
    width: 120px;
    background-color: wheat;
    appearance: none;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}
option{
    border-radius: 10px;
}